<!DOCTYPE html>
<html>
<head>
</head>


<body>
  <a href="{% url 'insertCamera' %}">
  <button >
<<< HOME
  </button>
  </a>
<h2>View Camera KIT</h2>


<iframe width="300px" height="300px"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src="http://localhost:8000/video_streamer/53"></iframe>

<iframe width="300px" height="300px"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src="http://localhost:8000/video_streamer/54"></iframe>


//<p><a href="http://localhost:8000/video_streamer/54" target="iframe_a">VIEW NOW</a></p>

<p>When the target of a link matches the name of an iframe, the link will open in the iframe.</p>

</body>
</html>
